html{
    background-color: #000;
}

.title{
    color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
    font-size: 6rem;
    font-weight:900;
    text-align: center;
    margin-top: 100px;
}

div.content {
    background-color: #fff;
    width: 600px;
    height: 300px;
    margin: 0 auto;
}

div.content p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    padding: 13px;
    margin: 0 25px;
    
}
div.content::before{
   content: "";
   width: 300px;
   height: 325px;
   margin-top: 86px;
   top: 11em;
   left: 20em;
   bottom: 8em;
   background-color:aquamarine;
   position: absolute;
   display: block;
   z-index: -1;
    
}