.box{
    width: 250px;
    height: 250px;
    background-color: aquamarine;
    border: 13px solid orange;
    margin: 25px;
    padding: 12px;
    box-sizing: border-box;
    box-shadow: 10px 15px 8px 2px rgba(0,0,0,0.7);
}