@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
:root {
  --clr-base-400: #5e5e5e;
  --clr-base-500: #494949;

  --clr-ui-300: #f8e2ff;
  --clr-ui-400: #580d3a;
  --clr-ux-300: #e2ffea;
  --clr-ux-400: #115926;
  --clr-dev-300: #e2fcff;
  --clr-dev-400: #024f4f;

  --clr-accent-400: #7e47c5;

  --ff-accent: "Podkova", serif;
  --ff-base: "Open Sans", sans-serif;

  --fs-300: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 2rem;

  --fw-400: 400;
  --fw-700: 700;

  --shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
  --border-radius: 0.75rem;
}

div.candidate {
  border-radius: 12px;
  box-shadow: 14px 1px 18px 3px rgba(125, 125, 125, 1);
  padding: 1rem;
}
div.candidate img {
  border-radius: 12px;
}
div.candidate h2.name {
  font-size: 36px;
  font-family: var(--ff-accent);
  margin: 0 22px;
  font-weight: 700;
}
div.candidate p.roles span.tag-ux {
  background-color: #e2ffea;
  color: #115926;
  display: inline-block;
 margin: auto 12px;
 padding: 11px;
 border-radius: 8px;
  font-weight: 900;
}

div.candidate p.roles span.tag-ui {
  color: #580d3a;
  background-color: #f8e2ff;
  font-weight: 900;
  display: inline-block;
  margin: auto 12px;
  border-radius: 8px;
  padding: 11px;
}

div.candidate p.roles span.tag-dev {
  color: #024f4f;
  background-color: #e2fcff;
  font-weight: 900;
  display: inline-block;
  margin: auto 12px;
  border-radius: 8px;
  padding: 11px;
}

div.candidate p.bio{
  font-family: 'Open Sans', sans-serif;
  width: 90%;
 margin-bottom: 12px;
 margin: 0 auto;
}
div.candidate ul.social li{
  display: inline;
  margin-right: 22px;
}
div.candidate ul.social li img{
  width: 15%;
}
div.candidate   a.btn{
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-end;
background: #7e47c5;
margin-left:250px;
margin-top: 10px;
text-align: center !important;
border-radius: 12px;
font-size: 22px;
text-decoration: none;
padding: 12px;

}

div.candidate   a.btn:visited{
 color: white;
 text-decoration: none;
  
  }

/* /////////////////
   Layout related
   no need to touch any of this
//////////////////*/

.candidates {
  max-width: 70em;
  margin: 0 auto;
  padding: 2em;
  display: grid;
  gap: 2em;
}

.candidate {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-areas:
    "img social"
    "name name"
    "role role"
    "bio bio"
    "button button";
  gap: 0.5em;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
}

@media (min-width: 500px) {
  .candidate {
    grid-template-columns: min-content minmax(15rem, 22.5rem);
    grid-template-rows: min-content min-content 1fr auto;
    grid-template-areas:
      "img name"
      "img role"
      "img bio"
      "social button";
  }
}

@media (min-width: 960px) {
  .candidates {
    grid-template-columns: repeat(2, 1fr);
  }
}

.candidate img {
  grid-area: img;
}
.candidate .name {
  grid-area: name;
}
.candidate .roles {
  grid-area: role;
}
.candidate .bio {
  grid-area: bio;
}
.candidate .social {
  grid-area: social;
}
.candidate .btn {
  grid-area: button;
}
