body {
    background-color: rgb(4, 52, 139);
    padding: 1rem;
    color: aliceblue;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Roboto', sans-serif;
} 


