* {
  --venetian-red: #bf211eff;
  --safety-yellow: rgb(199, 106, 0);
  --naples-yellow: #85CB33;
  --mindaro: #315659;
  --polished-pine: #69a197ff;
  --gray-web: #9900FF;
  --opera-mauve: #ae8ca3ff;
  --cadet-blue-crayola: #a2abb5ff;
  --middle-blue-green: #4357AD;
  --medium-turquoise: #6dd6daff;
}
html {
  font-family: "Besley", serif;
}
body {
  margin: 0;
  color: white;
  background: #17009c;
}

section {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 400px;
  padding: 100px 20vw;
}
h1 {
  font-size: 2.4rem;
}
p {
  font-size: 1.3rem;
}

.venetian-red {
  background-color: var(--venetian-red);
  z-index: 1;
}

.safety-yellow {
  background-color: var(--safety-yellow);
}
.naples-yellow {
  background-color: var(--naples-yellow);
}
.mindaro {
  background-color: var(--mindaro);
}
.polished-pine {
  background-color: var(--polished-pine);
}
.gray-web {
  background-color: var(--gray-web);
}
.middle-blue-green {
  background-color: var(--middle-blue-green);
}

.cadet-blue-crayola {
  background-color: var(--cadet-blue-crayola);
}
.curve{
    position: absolute;
    height: 225px;
    width: 100%;
    bottom:0;
}

.curve::before{
 content:'';
 display:block;
 position: absolute;
 border-radius:100% 50%;
 width: 55%;
 height:100%;
 background-color: rgb(223, 38, 35);
 transform:translate(85%, 60%);
}
.curve::after{
    content:'';
    display:block;
    position: absolute;
    border-radius:100% 50%;
    width: 75%;
    height:100%;
    background-color:rgb(197, 168, 0);
    transform:translate(-4%, 30%);
     z-index:-1; 
}

.bubble:after {
  content: "";
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  position:absolute;
  bottom:0;
  height:90%;
  width:100%;
  background-color: rgb(39, 34, 9);
  z-index: -1;

}

.bubble{
   z-index: 1;
}

.custom-shape-divider-bottom-1629781456 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1629781456 svg {
  position: relative;
  display: block;
  width: calc(188% + 1.3px);
  height: 241px;
}

.custom-shape-divider-bottom-1629781456 .shape-fill {
  fill: #143A58;
}

.spacer{
  aspect-ratio: 960/540;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1{
  background-image: url('./layered-peaks-haikei.svg');
}
.layer2{
  background-image: url('./layered-steps-haikei.svg');
}
.flip{
  transform: rotate(180deg);
}